@font-face {
  font-family: "iconfont"; /* Project id 4274071 */
  src: url('iconfont.woff2?t=1696509473022') format('woff2'),
       url('iconfont.woff?t=1696509473022') format('woff'),
       url('iconfont.ttf?t=1696509473022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bilibili:before {
  content: "\e609";
}

